#home{
    background-image: url("./assets/img11.jpg");
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat; 
    
   
}

@media (max-width: 768px) {
    #home{
      
      background-size: cover;/* Keeps image contained on mobile */
      width: 100%;
    }
  }